header {
background-color: darkgrey;
}

header {
    padding: 20px;
}
nav ul li {
    display: inline-block;
    padding: 20px;
    
   
}
nav ul {

    text-align: center;
    
   
   
}


nav ul li a {
    text-decoration: none;
}

header img {

    
    margin-bottom: 10px;
}
main section img {
    margin: 20px;
    margin-left: 200px;
}

main article {
    margin-left: 182px;
    
}
article img {
padding: 15px;
float: left;
}

div {
    float:right;
    width: 650px;
    margin-top: 15px;
}

p {
    position: relative;
    width: 400px;
    
    margin-top: 70px;

}
h2 {
    font-size: 30px;
}
button {
    padding: 10px;
    margin: 10px;
    margin-top: 40px;
}

footer {
    background:darkgrey;
    width: 100%;
}